# Lists, Dictionaries, Iteration
> An introduction to Data Abstraction using Python Lists [] and Python Dictionaries {}.

- title: Lists, Dictionaries, Iteration
- toc: true
- categories: [units]
- permalink: /collegeboard/python_lists
- image: /images/python_lists.png
- categories: [collegeboard]
- tags: [python]

# Defining InfoDB

In [2]:
InfoDb = []

# Adding entries to InfoDB

In [3]:
# append entries to the end of the InfoDb list
InfoDb.append({
    "name": "Safin Singh",
    "age": 16,
    "phone": "8588318732",
    "interests": ["tennis", "programming"],
    "grades": {
        "APCSP": "A",
        "APEL": "A",
        "AP Physics": "A",
        "AP Stats": "A"
    }
})

InfoDb.append({
    "name": "Alex Kumar",
    "age": 16,
    "phone": "8587576371",
    "interests": ["tennis", "basketball"],
    "grades": {
        "APCSP": "A",
        "APEL": "A",
        "AP Physics": "A",
        "AP Calculus BC": "A"
    }
})

InfoDb.append({
    "name": "Kalani Cabral-Omana",
    "age": 16,
    "phone": "6196953229",
    "interests": ["soccer", "surfing"],
    "grades": {
        "APCSP": "A",
        "APEL": "B",
        "AP Physics": "B",
        "AP Stats": "A"
    }
})

InfoDb.append({
    "name": "Navan Yatavelli",
    "age": 15,
    "phone": "8584329656",
    "interests": ["football", "walking my dog"],
    "grades": {
        "APCSP": "A",
        "American Lit": "A",
        "AP Stats": "A",
        "AP Bio": "A"
    }
})

# Printing InfoDB

In [9]:
def format_entry(entry):
    print("""{}
    Age: {}
    Phone: {}
    Interests: {}
    Grades:""".format(entry["name"], entry["age"], entry["phone"], ", ".join(entry["interests"])))
    for cl, grade in entry["grades"].items():
        print("        {}: {}".format(cl, grade))
    print()

# loop through each entry in InfoDb by value
for entry in InfoDb:
    format_entry(entry)

Safin Singh
    Age: 16
    Phone: 8588318732
    Interests: tennis, programming
    Grades:
        APCSP: A
        APEL: A
        AP Physics: A
        AP Stats: A

Alex Kumar
    Age: 16
    Phone: 8587576371
    Interests: tennis, basketball
    Grades:
        APCSP: A
        APEL: A
        AP Physics: A
        AP Calculus BC: A

Kalani Cabral-Omana
    Age: 16
    Phone: 6196953229
    Interests: soccer, surfing
    Grades:
        APCSP: A
        APEL: B
        AP Physics: B
        AP Stats: A

Navan Yatavelli
    Age: 15
    Phone: 8584329656
    Interests: football, walking my dog
    Grades:
        APCSP: A
        American Lit.: A
        AP Stats: A
        AP Bio: A

# For loop with index

In [10]:
# loop through each element of InfoDb by index
for i in range(len(InfoDb)):
    format_entry(InfoDb[i])

Safin Singh
    Age: 16
    Phone: 8588318732
    Interests: tennis, programming
    Grades:
        APCSP: A
        APEL: A
        AP Physics: A
        AP Stats: A

Alex Kumar
    Age: 16
    Phone: 8587576371
    Interests: tennis, basketball
    Grades:
        APCSP: A
        APEL: A
        AP Physics: A
        AP Calculus BC: A

Kalani Cabral-Omana
    Age: 16
    Phone: 6196953229
    Interests: soccer, surfing
    Grades:
        APCSP: A
        APEL: B
        AP Physics: B
        AP Stats: A

Navan Yatavelli
    Age: 15
    Phone: 8584329656
    Interests: football, walking my dog
    Grades:
        APCSP: A
        American Lit.: A
        AP Stats: A
        AP Bio: A

# While loop

In [ ]:
# initialize a counter
i = 0
# cap the loop at len(InfoDb) runs
n = len(InfoDb)

# while the counter is less than list length...
while i < n:
    format_entry(InfoDb[i])
    # increment counter
    i+=1

# Recursion

In [12]:
n = len(InfoDb)

def printer(i):
    # if you are at the end of the list, quit
    if i == n:
        return

    format_entry(InfoDb[i])

    # call function with the next index
    printer(i+1)

printer(0)

Safin Singh
    Age: 16
    Phone: 8588318732
    Interests: tennis, programming
    Grades:
        APCSP: A
        APEL: A
        AP Physics: A
        AP Stats: A

Alex Kumar
    Age: 16
    Phone: 8587576371
    Interests: tennis, basketball
    Grades:
        APCSP: A
        APEL: A
        AP Physics: A
        AP Calculus BC: A

Kalani Cabral-Omana
    Age: 16
    Phone: 6196953229
    Interests: soccer, surfing
    Grades:
        APCSP: A
        APEL: B
        AP Physics: B
        AP Stats: A

Navan Yatavelli
    Age: 15
    Phone: 8584329656
    Interests: football, walking my dog
    Grades:
        APCSP: A
        American Lit.: A
        AP Stats: A
        AP Bio: A